body{
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    padding: 0;
}
#mainDiv{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;

    height: 90vh;
    margin-top: 2.5vh;
    overflow: auto;
}
